@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,600&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 400;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 400;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-black-learnmore {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 70px;
  border-radius: 35px;
  margin-right: 40px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}
.btn-black-learnmore i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-black-learnmore:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-play {
  border: 1px solid;
  color: #191919;
  text-decoration: none;
  padding: 10px 17px;
  font-weight: 70px;
  border-radius: 50%;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}
.btn-play i {
  align-items: center;
}

.btn-intro-video {
  color: #191919;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 70px;
  border-radius: 35px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 400;
  border-radius: 25px;
  font-size: 0.9rem;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9rem;
  margin-bottom: 3px;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-yellower {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 400;
  border-radius: 25px;
  text-align: center;
}
.btn-yellower:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #f94d1c;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #191919;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: rgba(124, 124, 124, 0.4);
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3%;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.accounting-and-advice .container .logotypes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 100px;
}

.advice .container {
  display: flex;
}
.advice .container .advice-management {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 70px;
  padding-top: 90px;
  margin-right: 100px;
  margin-left: 90px;
}
.advice .container .advice-management h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 20px;
}
.advice .container .advice-management p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 15px;
}
.advice .container .advice-management img {
  padding-bottom: 35px;
}
.advice .container .features-title {
  text-align: left;
  justify-content: right;
  padding-top: 70px;
  padding-bottom: 200px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 15px;
  margin-right: 170px;
}
.advice .container .features-title p {
  color: #f94d1c;
}
.advice .container .features-title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 45px;
  padding-bottom: 45px;
}
.advice .container .features-title a {
  display: block;
}

.consulting-repair {
  margin-bottom: 120px;
}
.consulting-repair .container {
  display: flex;
  align-items: space-between;
  text-align: left;
}
.consulting-repair .container .parent {
  position: relative;
  padding-top: 150px;
  padding-left: 45px;
}
.consulting-repair .container .parent .child {
  position: absolute;
  height: 150px;
  width: 345px;
  background-color: #BEEBFF;
  bottom: 40px;
  left: 10px;
}
.consulting-repair .container .parent .child h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 20px;
}
.consulting-repair .container .parent .child h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 50;
  color: #000000;
  margin-left: 20px;
}
.consulting-repair .container .experts {
  margin-left: 150px;
  padding-top: 150px;
}
.consulting-repair .container .experts p {
  text-align: left;
  color: #f94d1c;
}
.consulting-repair .container .experts h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 45px;
}
.consulting-repair .container .experts h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  padding-top: 30px;
  font-weight: 50;
  padding-bottom: 35px;
  color: #5a5a5a;
}
.consulting-repair .container .experts h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 110px;
  font-weight: 50;
  color: #5a5a5a;
}
.consulting-repair .container .experts a {
  display: inline-block;
}

.service-and-consulting {
  background-color: #F0EFE9;
}
.service-and-consulting .container .titles {
  padding-top: 120px;
  text-align: left;
}
.service-and-consulting .container .titles p {
  color: #f94d1c;
}
.service-and-consulting .container .titles h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 40px;
}
.service-and-consulting .container .box-parent {
  display: inline-flex;
  gap: 30px;
  text-align: center;
}
.service-and-consulting .container .box-parent .childbox-1 {
  padding: 20px;
  height: 300px;
  width: 280px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.service-and-consulting .container .box-parent .childbox-1 .roundbutton {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  align-self: flex-start;
}
.service-and-consulting .container .box-parent .childbox-1 .roundbutton:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}
.service-and-consulting .container .box-parent .childbox-1 .content {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  padding-left: 20px;
}
.service-and-consulting .container .box-parent .childbox-1 .content.content::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 1px solid black;
  font-weight: 700;
  height: 5px;
  width: 30px;
  margin-top: 20px;
}
.service-and-consulting .container .box-parent .childbox-2 {
  padding: 20px;
  height: 300px;
  width: 280px;
  background-color: #F9D783;
  display: flex;
  flex-direction: column;
  position: relative;
  display: inline-block;
}
.service-and-consulting .container .box-parent .childbox-2 .roundbutton {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  border: solid 1px white;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #fffefe;
  color: rgb(0, 0, 0);
  font-size: 16px;
  align-self: flex-start;
}
.service-and-consulting .container .box-parent .childbox-2 .roundbutton:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.service-and-consulting .container .box-parent .childbox-2 .content {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  padding-left: 20px;
  position: relative;
}
.service-and-consulting .container .box-parent .childbox-2 .content.content::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 1px solid black;
  font-weight: 700;
  height: 5px;
  width: 30px;
  margin-top: 20px;
}
.service-and-consulting .container .box-parent .childbox-3 {
  padding: 20px;
  height: 300px;
  width: 280px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.service-and-consulting .container .box-parent .childbox-3 .roundbutton {
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  align-self: flex-start;
}
.service-and-consulting .container .box-parent .childbox-3 .roundbutton:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}
.service-and-consulting .container .box-parent .childbox-3 .content {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  padding-left: 20px;
}
.service-and-consulting .container .box-parent .childbox-3 .content.content::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 1px solid black;
  font-weight: 700;
  height: 5px;
  width: 30px;
  margin-top: 20px;
}
.service-and-consulting .container .box-parent .childbox-4 {
  padding: 20px;
  height: 300px;
  width: 280px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.service-and-consulting .container .box-parent .childbox-4 .roundbutton {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  align-self: flex-start;
}
.service-and-consulting .container .box-parent .childbox-4 .roundbutton:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}
.service-and-consulting .container .box-parent .childbox-4 .content {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  padding-left: 20px;
}
.service-and-consulting .container .box-parent .childbox-4 .content.content::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 1px solid black;
  font-weight: 700;
  height: 5px;
  width: 30px;
  margin-top: 20px;
}
.service-and-consulting .container .box-parent h2 {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  margin-right: 20px;
  padding-top: 60px;
  font-size: 1.2rem;
  font-weight: 700;
}
.service-and-consulting .container .box-parent p {
  font-family: "DM Sans", sans-serif;
  text-align: left;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 0.7em;
  font-weight: 400;
}
.service-and-consulting .container .button-center {
  text-align: center;
  margin-right: 70px;
  margin-top: 40px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-agency .container {
  display: flex;
  align-items: center;
}
.business-agency .container .titles p {
  color: #f94d1c;
  padding-top: 60px;
  margin-bottom: 20px;
}
.business-agency .container .titles h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
  padding-bottom: 60px;
  white-space: nowrap;
}
.business-agency .container .titles .texts {
  display: grid;
  grid-template-columns: 1fr;
}
.business-agency .container .titles .texts h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 80px;
  padding-top: 20px;
}
.business-agency .container .titles .texts h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  padding-left: 80px;
  white-space: nowrap;
}
.business-agency .container .titles .texts .thumbsup {
  position: absolute;
  margin-top: 25px;
  padding: 8px 10px;
  border: solid 1px #cccccc;
  border-radius: 50%;
  margin-left: 10px;
}
.business-agency .container .titles .texts .spectrum {
  position: absolute;
  margin-top: 95px;
  padding: 8px 10px;
  border: solid 1px #cccccc;
  border-radius: 50%;
  margin-left: 10px;
}
.business-agency .container .titles .texts .joker {
  position: absolute;
  margin-top: 175px;
  padding: 8px 10px;
  border: solid 1px #cccccc;
  border-radius: 50%;
  margin-left: 10px;
}
.business-agency .container .titles .texts .braingear {
  position: absolute;
  margin-top: 250px;
  padding: 8px 10px;
  border: solid 1px #cccccc;
  border-radius: 50%;
  margin-left: 10px;
}
.business-agency .container .content {
  position: relative;
}
.business-agency .container .content .background-box {
  position: relative;
  z-index: -1;
  background-color: #F0EFE9;
  height: 420px;
  width: 1100px;
  right: -300px;
  top: 250px;
}
.business-agency .container .content .twoladies {
  position: absolute;
  z-index: 1;
  left: 400px;
  top: 80px;
}

.project-and-case .container {
  padding-top: 120px;
}
.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700px;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  margin-left: 3px;
}
.project-and-case .container .project-and-cases article a i {
  margin-left: 3px;
}
.project-and-case .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.team-members {
  background-color: #F9D783;
}
.team-members .container {
  align-items: center;
  text-align: center;
}
.team-members .container .title {
  text-align: left;
}
.team-members .container .title p {
  color: #f94d1c;
}
.team-members .container .title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800px;
  font-size: 40px;
  padding-bottom: 100px;
}
.team-members .container .members {
  display: flex;
  align-items: center;
  gap: 25px;
}
.team-members .container .members .member-1 {
  position: relative;
  overflow: hidden;
}
.team-members .container .members .member-1 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800px;
  padding-top: 30px;
  text-align: left;
}
.team-members .container .members .member-1 p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  padding-bottom: 25px;
  text-align: left;
}
.team-members .container .members .member-2 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800px;
  padding-top: 28px;
  text-align: left;
}
.team-members .container .members .member-2 p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  padding-bottom: 25px;
  text-align: left;
}
.team-members .container .members .member-3 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800px;
  padding-top: 30px;
  text-align: left;
}
.team-members .container .members .member-3 p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  padding-bottom: 25px;
  text-align: left;
}
.team-members .container .members .member-4 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800px;
  padding-top: 30px;
  text-align: left;
}
.team-members .container .members .member-4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  padding-bottom: 25px;
  text-align: left;
}
.team-members .container .roundicon {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}
.team-members .container .roundicon .roundball {
  height: 12px;
  width: 12px;
  background-color: #C2AA70;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.team-members .container .roundicon .roundball.active {
  background-color: #191919;
}
.team-members .container .roundicon .roundball:hover {
  background-color: #191919;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

.clients {
  background-color: #F9D783;
  padding-bottom: 50px;
}
.clients .container {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.clients .container .title {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.clients .container .title p {
  color: #F94D1C;
}
.clients .container .reviews .cards {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  padding: 50px;
}
.clients .container .reviews .cards .review p {
  margin-bottom: 35px;
}
.clients .container .reviews .cards .review .stars {
  color: #F94D1C;
  font-size: 16px;
  margin-bottom: 15px;
}
.clients .container .reviews .cards .review .person {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clients .container .reviews .cards .review .person div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.clients .container .reviews .cards .review .person div h3 {
  font-size: 22px;
  font-weight: 700;
}
.clients .container .reviews .cards .review .person div p {
  color: #F94D1C;
  margin-bottom: 0;
  font-size: 16px;
}
.clients .container .button {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(24, 24, 24, 0.1);
  margin-right: 20px;
}